[submodule "bundle/git-runtime"]
    path = bundle/git-runtime
    url = https://github.com/tpope/vim-git.git
[submodule "bundle/endwise"]
    path = bundle/endwise
    url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/surround"]
    path = bundle/surround
    url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ragtag"]
    path = bundle/ragtag
    url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/csapprox"]
    path = bundle/csapprox
    url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/snipmate"]
    path = bundle/snipmate
    url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/bufexplorer"]
    path = bundle/bufexplorer
    url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/a"]
    path = bundle/a
    url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/taglist"]
    path = bundle/taglist
    url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/indexed-search"]
    path = bundle/indexed-search
    url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/delimitMate"]
    path = bundle/delimitMate
    url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/matchit"]
    path = bundle/matchit
    url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/markdown-runtime"]
    path = bundle/markdown-runtime
    url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/gundo"]
    path = bundle/gundo
    url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/solarized"]
    path = bundle/solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = https://github.com/wincent/Command-T.git
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/repeat"]
    path = bundle/repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/ack"]
    path = bundle/ack
    url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
    path = bundle/tabular
    url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-coffee-script"]
    path = bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/unimpaired"]
    path = bundle/unimpaired
    url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vundle"]
    path = bundle/vundle
    url  = https://github.com/gmarik/vundle.git
[submodule "bundle/neocomplcache"]
    path = bundle/neocomplcache
    url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
    path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/tlib_vim"]
    path = bundle/tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
    path = bundle/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
    path = bundle/vim-snipmate
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "todo.vim"]
    path = todo.vim
    url = https://github.com/vim-scripts/todo.vim
[submodule "phpcomplete.vim"]
    path = phpcomplete.vim
    url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "zencoding-vim"]
    path = zencoding-vim
    url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/todo.vim"]
	path = bundle/todo.vim
	url = https://github.com/vim-scripts/todo.vim
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround
[submodule "bundle/JSON.vim"]
	path = bundle/JSON.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = git://github.com/vim-scripts/php.vim.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = git://github.com/vim-scripts/Syntastic.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/apachelogs.vim"]
	path = bundle/apachelogs.vim
	url = git://github.com/vim-scripts/apachelogs.vim.git
[submodule "bundle/cleanphp"]
	path = bundle/cleanphp
	url = git://github.com/vim-scripts/cleanphp.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = git://github.com/vim-scripts/jslint.vim.git
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = git://github.com/vim-scripts/jshint.vim.git
[submodule "bundle/node.js"]
	path = bundle/node.js
	url = git://github.com/vim-scripts/node.js.git
[submodule "bundle/php.vim-for-php5"]
	path = bundle/php.vim-for-php5
	url = git://github.com/vim-scripts/php.vim-for-php5.git
[submodule "bundle/Symfony"]
	path = bundle/Symfony
	url = git://github.com/vim-scripts/Symfony.git
[submodule "bundle/symfony.vim"]
	path = bundle/symfony.vim
	url = git://github.com/vim-scripts/symfony.vim.git
[submodule "bundle/ZenCoding.vim"]
	path = bundle/ZenCoding.vim
	url = git://github.com/vim-scripts/ZenCoding.vim.git
